$text-color: #2c3e50;
$alert: #e74c3c;
$main-accent: #f39c12;
$succes: #27ae60;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(135deg, #4276aa 0%, #0c5893 100%);
  background-size: contain;
}

@mixin shadow {
  box-shadow: 0px 8px 32px black;
  backdrop-filter: blur(20px);
}

@mixin padding {
  background-color: white;
  @include shadow;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 80px;
  height: 80px;
}

.main-game {
  margin: 0 auto;
  width: 90%;
  height: fit-content;
}

.points {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center
}
.counter, .streak {
  @include padding;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  font-weight: 800;
  color: $alert;
}
.streak {
    color: $main-accent;
}
.time {
    color: #4276aa;
}
.time {
    @include padding;
  width: 200px;
  height: 80px;
  font-size: 2rem;
  font-weight: 800;

}
.msg {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.container {
  display: flex; 
  flex-direction: row;
  gap: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.start-game {
  @include padding();
  margin: 0 auto;
  width: fit-content;
  height: 60px;
  margin: 2% auto;
  background-color: $succes;
  color: white;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.img-container {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    @include padding();
    height: 250px;
    width: 250px;

    .shape {
      height: 200px;
      width: 200px;
    }
  }
}

.container {
  width: 80%;
  margin: 2% auto;
  margin-bottom: 1rem;
}

.instructions {
  @include padding();
  padding: 0rem !important;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5% auto;
  width: 50%;

  p {
    font-size: 1.5rem;
    line-height: 2.5;
  }

  span {
    color: white;
    background-color: $main-accent;
    border-radius: 8px;
    padding: 0.6rem;
  }
}

.arrow {
  @include padding();
  height: 80px;
  width: 80px;
  margin: 10% auto;

  img {
    height: 50px;
    width: 50px;
  }
}

// move this OUTSIDE the .arrow block
.arrow:first-of-type img {
  transform: scale(-1);
}



.handle-validation {
  @include padding();
  margin: 0 auto;
  opacity: 0;

  img {
    height: 60px;
    width: 60px;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(-350px)
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  10% {
    opacity: 1;
    transform: scale(1);
  }

  90% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
@keyframes gameOver {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
